.miele-page .popup {
    position: fixed;
    align-items: center;
    font-family: "Museo Regular";
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 120;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;

    @media screen and (max-width: 768px) {
        padding: 16px 0;
    }


    &__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 768px) {
            &::after {
                content: '';
                position: absolute;
                background: #C0C5C9;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -24px;
            }
        }
    }

    &__close {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        width: 100%;
        cursor: pointer;
    }

    &__content {
        background: #fff;
        z-index: 12;
        padding: 42px;
        width: 700px;
        border-radius: 16px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            width: 70%;
        }
    }

    &__thumbs {
        height: 350px;
        overflow-y: scroll;
        padding: 0 8px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f7f7f7;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #FC6B3F;
        }
    }

    &__product-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 46px 0;

        @media screen and (max-width: 768px) {
            &::after {
                content: '';
                position: absolute;
                background: #C0C5C9;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -24px;
            }
        }
    }

    &__product {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__product-price {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 0;
        max-width: 110px;
        width: 100%;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__product-name {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 4px 0 0;
        max-width: 300px;
        width: 100%;


        @media screen and (max-width: 768px) {
            font-size: 14px;
            max-width: 136px;
        }
    }

    &__product-img {
        max-width: 100px;
        height: 100px;
        object-fit: contain;

        @media screen and (max-width: 768px) {
            max-width: 95px;
        }
    }

    &__count {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-plus,
        &-minus {
            background-color: transparent;
            border: none;
        }
    }

    &__title {
        margin: 0;
        font-size: 20px !important;
        font-weight: 600 !important;
    }

    &__form {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        gap: 16px;
        margin-top: 15px;
    }

    &__name,
    &__number,
    &__email {
        margin-top: 0;
        font: inherit;
        border: 1px solid #B2B2B2;
        border-radius: 8px;
        padding: 16px;
    }

    &__label {
        position: relative;
        display: flex !important;
        align-items: center;
        font-size: 12px;
        color: #8E979F;

        @media screen and (max-width: 768px) {
            &::after {
                content: '';
                position: absolute;
                background: #C0C5C9;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -24px;
                margin-bottom: 16px;
            }
        }
    }

    &__checkbox {
        width: 20px;
        height: 20px;
        min-height: 0rem !important;
        min-width: 0rem !important;
        padding: 0 !important;
        border-radius: 0px;
        margin-right: 15px;
        appearance: none;
        border-radius: 0px !important;

        &:checked {
            appearance: auto;
        }
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__total-text {
        font-size: 24px;
        font-weight: 600;
        line-height: 18px;
        margin: 0;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__total-price {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin: 0;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__submit,
    &__button {
        font-weight: 600;
        padding: 16px;
        border-radius: 8px !important;
        width: 100%;
        cursor: pointer;
    }

    &__submit {
        font-size: 14px;
        background-color: $base-color;
        color: #fff;
        border: none;
    }

    &__button {
        font-size: 14px;
        background-color: transparent;
        border: 1px solid $base-color;
    }

    &__success {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__success-wrapper {
        text-align: center;
    }

    &__order-title {
        margin: 24px 0 0;
    }

    &__order-text {
        font-size: 20px;
        line-height: 32px;
        margin: 24px 0 0;
        max-width: 400px;
        width: 100%;
        color: #8E979F;
    }

    &__success-icon {
        max-width: 100px;
        width: 100%;
    }
}