.miele-page .cart {
  position: fixed;
  right: 10px;
  bottom: 30px;

  &__button {
    font-family: 'Museo Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: $base-color;
    border-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 12px;
  }

  &__caption {
    font-size: 14px;
    margin: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__icon {
    max-width: 38px;
    width: auto;
  }
}