.miele-page .products {
    padding: 56px 0 42px;

    &__category-tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        max-width: 1052px;
    }

    &__category-tab {
        font-size: $base-font-size;
        font-weight: 600;
        color: #8E979F;
        background-color: transparent;
        border: 1px solid $disabled-tab-color;
        border-radius: 8px;
        padding: 12px 14px;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &--active {
            background-color: $base-color;
            border: 1px solid $base-color;
            color: #fff;
        }

        &:hover {
            background-color: $base-color;
            border: 1px solid $base-color;
            color: #fff;
        }
    }
}